<%=form_with model: @listing, local: true do |f|%>
  


  <div class="mt-4 form-group"> 
    <%=f.label :category_id%>
    <%=f.select :category_id, @categories.map {|c| [c.name, c.id]}%>
  </div>
 
 
  <div class="mt-4 form-group"> 
    
      <%=f.label :title%>
      <%=f.text_field :title, class: "form-control", required: true%>
  </div>


  <div class="mt-4 form-group">
      <%=f.label :price%>
      <%=f.number_field :price, class: "form-control", required: true%>
      <h5>E.g. Enter "250" for 2.5 dollar</h5>
    
  </div>



<div class="mt-4 form-group"> 
    <%=f.label :picture%>
    <%=f.file_field :picture, accept: "image/png,image/jpg,image/jpeg", class: "form-control", required: true%>
    <h5>Accept only PNG/JPG/JPEG</h5>
</div>


<div class="mt-4 form-group">
 
    <%@conditions.each do |option|%>
        <%=f.label :condition, format_condition(option)%>
        <%=f.radio_button :condition, option%>
    <%end%>
    <h5>Choose the condition here</h5>
</div>


<div class="mt-4 form-group"> 
    <%=f.label :description%>
    <%=f.text_area :description, class: "form-control", required: true%>
</div>


<div class="mt-4 form-group"> 
    <%=f.submit "submit", class: "btn btn-dark"%>
</div>

<%end%>
  
